div.header-container {
    background-color: #0076CE;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


h1.InterNex {
    text-align: center;
    color: white;
}

.right-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}


