div.header-container {
    height: 4rem;
    background-color: #0076CE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1%;
}

h1.InterNex {
    text-align: center;
    color: white;
    margin-top: 2rem;
    margin-bottom: 0px;
}


h1.InterNex {
    text-align: center;
    color: white;
    transform: translateX(-20%);
}

.right-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.location-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

h5 {
    padding-left:  5px;
    padding-right: 5px;
}

.logo{
    width: 110px;
}

.group{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 20px
}