.cardsSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start; /* Distributes items evenly along the main axis */
}

.link-card-purr {
    width: 12rem;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.text-container {
    height: 3em;
    overflow: hidden;

}
