.cardsSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start; /* Distributes items evenly along the main axis */
}

.link-card-purr {
    height: 500px; 
    width: 15rem;
    margin: 10px;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}