h1 {
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    margin-right: 10px; /* Add some spacing between columns */
}


div.custom-dropdown {
    width: 210px;
}


